*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*  */


/* General Content */

body {
    display: flex; /* this ensures that all children of the body behave according to flexbox rules */
    flex-wrap: wrap; /* this allows the children to wrap around and move to the next line, if needed */
    background: rgba(20,20,20,1);
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
a.special-link {
    color: white;
}

/* Header/footer elements*/ 

header{
    border-bottom: 1px solid white;
}

header, footer{
    display: flex;
    align-content: flex-start;
    height: 10vh;
    width: 100vw;
    /* border: 1px solid blue; */
    color: white;
    background:rgba(20,20,20,1);
    padding: 0 10vw;
}
footer {
    padding: 0 2vw;
    margin: 0;
}
.footer-left {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.footer-right {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}
footer p{
    font-size: 0.75rem;
}
footer li {
    font-size: 0.5rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}
header nav li {
    color: rgba(20,20,20,1);
    margin: 1% 10%;
}

/* Buttons/Links */

.logo {
    height:6vh;
    width: 17vw;
}
.download-button {
    background: black;
    color: white;
    box-shadow: 0 0 10px 3px rgba(139, 99, 170, 0.8);
    border-radius: 5px;
}
.big-button {
    padding: 0.5rem;
}
.btn-link {
    background: black;
    box-shadow: 0 0 1px 3px rgba(139, 99, 170, 0.8);
}

/* Containers */

.soft-color {
    background: rgba(30,30,30,0.5);
}
.question-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Targeting more specific elements within containers */

h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
.small-text {
    font-size: 0.85rem;
}
.accent-image {
    max-height: 10%;
    max-width: 10%;
}
.accent-imageLarge {
    max-height: 25%;
    max-width: 25%;
}
.purple_text {
    color: rgba(139, 99, 170, 0.8)
}
#question-mark {
    max-height: 120px;
    max-width: 90px;
}
#optionsIMG {
    border-radius: 5px;
    margin: 0 0 0 1.5%;
}
#clockIMG {
    margin: 0 0 0 1.5%;
}

/* Active elements */
.carousel-inner img {
    width:50%;
    height:50%;
    margin: auto;
}