* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
.flex-container > * {
    padding: 10px;
    flex: 1 100%;
}
/* body {
    background: linear-gradient(to right bottom,rgb(83, 44, 134),rgb(139, 99, 170))
} */
/*Header*/
.header {
    display: flex;
    width:100vw;
    background: rgba(139,99,170);
    justify-content: center;
}
.header ul{
    display:flex;
    width: 80%;
}
.header ul li {
    flex: 1;
    width: 20vw;
    list-style: none;
}
/*Main*/ 
.main {
    display: flex;
    background: linear-gradient(to top, rgb(83, 44, 134),rgb(139, 99, 170));
    flex-flow: row nowrap;
}
.half {
    height: 60vh;
    width: 50vw;
    flex: 1;
}
img {
    max-height: 100%;
    min-width: 100%;
    object-fit: contain;
}
/*Sections*/
.section-1 {
    height: 40vh;
    background: linear-gradient(to bottom,rgb(83, 44, 134),rgb(139, 99, 170));
}
.section-2 {
    background: linear-gradient(to bottom,rgb(139, 99, 170),rgb(83, 44, 134));
}
/*Footer*/
.footer {
    background: lightgreen;
}


/*Slideshow*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides { /*ensures that the slides default to being non-visible */
    display: none;
}

.fade { /* names the animation and sets the duration it takes to complete */
    animation-name: fade;
    animation-duration: .1s;
}

@keyframes fade { /*details what happens during the animation called "fade" */
    from{opacity: 1}
    to{opacity: 1}
}


/*Media Queries*/

/* @media all and (min-width: 600px) {
    .section {flex: 1 0 0; }
} */
/* @media all and (min-width: 800px) {
    .main { flex: 3 0px; }
    .section-1 { order: 1}
    .main {order: 2;}
    .section-2 {order: 3;}
    .footer {order: 4;}
} */